---
import BaseDocument from "../../components/BaseDocument.astro";
import AboutDetails from "../../components/organisms/about-details.svelte";
import Section from "../../components/organisms/section.svelte";
---

<BaseDocument>
  <div id="scrollTarget">
    <Section title="About" color="white">
      <AboutDetails />
    </Section>
  </div>
</BaseDocument>
