---
layout: page
title: About
permalink: /about/
---

<div class="text text-home">
	<h1>Geert Beuneker: Programmer &amp; Designer</h1>
	<p>Things!	</p>

	<h1>Recent posts</h1>
  <div class="tiles">

    {% for post in site.posts limit:3 %}

  		<a class="tile" href="{{site.baseurl}}{{post.url}}">
  		  <div class="tile-image">
  				{% if post.category == "video" %}
					<img src="http://img.youtube.com/vi/{{post.video_id}}/0.jpg" />
  				{% else %}
  				<img src="{{site.baseurl}}{{post.images[0].url}}"/>
  				{% endif %}
  		  </div>

  		  <div class="tile-text">
  		    <div class="tile-title">
  		      <h1>{{post.title}}</h1>
  		    </div>

  		    <div class="tile-excerpt">
  		      <p>{{post.excerpt}}</p>
  		    </div>
  		  </div>

  		</a>
  	{% endfor %}

  </div>

</div>
