footer {
  position: absolute;
  margin:0;
  text-align: center;
  background-color: #49583E;
  color: #fff;
  padding: 10px;
  font-family: Orbitron;
  font-size: 10px;

  bottom: 0;
  height: 50px;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
}

footer p
{
  margin: 0;
}
