footer {
  position: absolute;
  margin:0;
  text-align: center;
  background-color: #506642;
  padding: 10px;

  bottom: 0;
  height: 50px;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
}

footer p
{
  margin: 0;
  font-size: 9pt;
  font-weight: bold;
  color: #EBF7E4;
  font-family: 'Comfortaa';
}
