header hr
{
  border-color: #000;
  display: block;
  width: 50%;
}

.header-logo
{
  margin: auto;
  width: 400pt;
}

.header-logo img
{
  margin: auto;
  width: 100%;
}

//----------HEADER NAVIGATION BAR----------
.header-navbar
{
  position: relative;
  z-index: 2;

  text-align: center;
  border-width: 0;
  height: 40pt;
}

.header-navbar ul
{
  display: inline-block;
  overflow: hidden;
  list-style-type: none;

  height: 100%;
}

.header-navbar li
{
  float: left;

  margin: 0;
  height: 100%;
}

.header-navbar a
{
  display: block;

  text-decoration: none;
  font-size: 14pt;
  font-weight: normal;

  font-family: "Comfortaa", sans-serif;

  padding: 20pt 12pt 12pt 12pt;
  margin: 0;

  transition: color 0.1s ease;
  color: #3a3a3a;
}

.header-navbar a:hover
{
  transition: color 0.1s ease;
  color: #777;
}

#active
{
  font-weight: bolder;
}
