@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("src/assets/fonts/Nunito-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("src/assets/fonts/Nunito-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("src/assets/fonts/Nunito-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("src/assets/fonts/Nunito-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("src/assets/fonts/Nunito-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("src/assets/fonts/Nunito-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
