---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/organisms/header.svelte";
import Footer from "../components/organisms/footer.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Section from "../components/organisms/section.svelte";
import About from "../components/organisms/about.svelte";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col">
    <Header />
    <main class="flex-grow">
      <About />
      <Section title="Portfolio" color={"green"}>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quis impedit error placeat pariatur beatae quam
        magni adipisci nulla asperiores, in animi tempora ut. Tenetur, est cupiditate? Sunt, sequi laudantium.
      </Section>
    </main>

    <Footer />
  </body>
</html>
