---
import { getCollection } from "astro:content";
import BaseDocument from "../../components/BaseDocument.astro";
import ProjectExplorer from "../../components/organisms/project-explorer.svelte";
import Section from "../../components/organisms/section.svelte";

const game = await getCollection("game");
const web = await getCollection("web");
const video = await getCollection("video");
const software = await getCollection("software");
---

<BaseDocument>
  <Section title="Projects" color="white">
    <ProjectExplorer game={game} web={web} video={video} software={software} />
  </Section>
</BaseDocument>
