<div class="portfolio-modal mfp-hide" id="{{page.tag}}">
    <div class="portfolio-modal-dialog bg-primary">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-dark text-uppercase mb-0">{{page.title}}</h2>
            <hr class="shell-dark mb-5">
            <img class="img-fluid mb-5" src="{{site.baseurl}}/{{page.images[1].url}}" alt="">
                {{ content }}
            <a class="btn btn-secondary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>